html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
button {
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #303030;
}

.container {
   max-width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

.container-fluid {
    max-width: 1720px;
    margin: 0 auto;
    overflow: hidden;
}

.header,
.footer {
   
    &__inner {
       display: flex;
       justify-content: space-between;
       height: 105px;
       align-items: center;
    }
    &__text {
        margin-right: auto;
        margin-left: 30px;
        color: #9a9a9a;
        font-weight: 400;
    }
    
    &__phone {
        font-size: 20px;
        font-weight: 500;

        a {
            color: #303030;
            text-decoration: none;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 15px;
                height: 15px;
                background-image: url("../images/phone-icon.svg");
                left: -27px;
                top: 5px;
            }
        }

        &-text {
            color: #9a9a9a;
            font-weight: 400;
            font-size: 12px;
            text-align: right;
            margin-top: 3px;
        }
    }
}

.top {
    margin-bottom: 75px;

    &__images {
        background-image: url("../images/top-bg.jpg");
        min-height: 545px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        max-width: 1720px;
        margin: 0 auto;
    }
    &__wrapper {
        margin-top: -445px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;

        &-img {
            margin-left: 130px;
        }

        &-form {
           max-width: 570px;
           width: 100%;
        }
        &-suptitle {
            margin-top: 70px;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 28px;
        }
        &-title {
            color: #fff;
            font-size: 60px;
            line-height: 60px;
            font-weight: 600;
            margin-bottom: 40px;
        }
        &-text {
            margin-bottom: 73px;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
        }
    }
    &-form {
        background-color: #fff;
        padding: 20px;

        form {
            border: 1px solid #c8dcba;
            position: relative;
        }
        &__inner {
            padding: 50px 50px 118px 50px ;
        }
        &__title {
            color: #303030;
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
            text-transform: uppercase;
            letter-spacing: 1px;
            width: 190px;
            margin-bottom: 25px;
        }
        input {
            border: none;
            border-bottom: 1px solid #c8dcba;
            padding-top: 14px;
            padding-bottom: 14px;
            color: #000;
            font-size: 14px;
            font-weight: 400;

             &+input {
                 margin-right: 30px;
             }

            &::placeholder {
                color: #c8dcba;
                font-size: 14px;
            }
        }
        & button {
            border: none;
            position: absolute;
            right: 0;
            bottom: 0;
            background-color: #7eb252;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 22px 110px 22px 75px;
            outline: none;
        } 
    }

}
.form__btn {
    border: none;
    background-color: #7eb252;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 22px 110px 22px 75px;
    outline: none;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        width: 31px;
        height: 9px;
        background-image: url("../images/arrow.png");
        top: 25px;
        right:  60px;
    }
}

.advantage {
    margin-bottom: 200px;

    &__inner {
        display: flex;
        justify-content: space-around;
    }
    &__item {
        width: 240px;
        padding-left: 40px;
        padding-top: 35px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 5px solid rgba(126, 178, 82, .3);
            top: 0;
            left: 0;
        }

        &-number {
            color: #a4c58c;
            font-size: 18px;
            font-weight: 600;
            border-bottom: 3px solid #a4c58c;
            display: inline-block;
            span {
                font-size: 30px;
            }
        }
        &-text {
            margin-top: 20px;
            color: #000;
        }
    }
   
}

.list {
    
    &__title {
        font-weight: 700;
        color: #303030;
        font-size: 40px;
        line-height: 50px;
        max-width: 470px;
        margin-bottom: 30px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        background-color: #f6f9f3;
        position: relative;
        padding-bottom: 30px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            height: 100%;
            top: 0;
            width: 100%;
            background-color: #f6f9f3; 
        }

        &::before {
          right: 100%;
        }
        &::after {
         left: 100%;
        }
    }
}
.tabs {
    padding-right: 20px;
    width: 100%;

    &__content {
    min-width: 500px;
    height: 689px;
    background-image: url("../images/list-images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    margin-top: -170px;
   }
}
.tab {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    line-height: 20px;
    color: #303030;
    text-transform: uppercase;
    letter-spacing: .7px;
    padding: 24px 40px 24px 0;
    border-bottom: 1px solid #e6efde;
    cursor: pointer;

    &.active {
      position: relative;
      
      &::after {
          content: "";
          position: absolute;
          right: 25px;
          background-image: url("../images/chevron.svg");
          width: 8px;
          height: 13px;
      }
    }

    span {
        color: #a4c58c;
        margin-right: 18px;
    }

    &-item {
        display: none;
        font-weight: 700;
        font-size: 12px;
        color: #fff;
        width: 43px;
        height: 43px;
        border: 9px solid rgba($color: #fff, $alpha: .8);
        border-radius: 50%;
        position: absolute;
        text-align: center;
        line-height: 25px;
        

        &:first-child {
            display: block;
        }
    }
}

.item-1 {
    left: 150px;
    top: 182px;
}
.item-2 {
    left: 300px;
    top: 200px;
}
.item-3 {
    left: 227px;
    top: 135px;
}
.item-4 {
    left: 193px;
    top: 337px;
}
.item-5 {
     left: 230px;
     top: 32px;
             
}
.item-6 {
    left: 264px;
    top: 450px;
}
.item-7 {
    left: 270px;
    top: 99px;
} 
.item-8 {
    left: 230px;
    top: 200px;
}
.item-9 {
    left: 274px;
    top: 282px;
} 
.tabs__box {
    display: flex;
    flex-wrap: wrap;

    .tab {
        font-weight: 400;
        width: 50%;
        text-transform: none;
        display: flex; 
        align-items: center;

        & span {
            font-size: 12px;
        }
        &:first-child,
        &:nth-child(3) {
            border-right: 1px solid #e6efde;
            padding-right: 25px;
        }
        &:last-child,
        &:nth-child(2) {
            padding-left: 25px;
        }
    }
   
}
.tabs__reviews {
    padding: 20px;
    padding-bottom: 0;
    background-color: #f6f9f3;
    max-width: 430px;
    position: absolute;
    bottom: 0;

    &-inner {
        border: 1px solid #c5dab5;
        padding: 30px 50px 30px 40px;
    }
    &-text {
        color: #303030;
    }
    &-link {
        color: #7eb252;
        font-size: 14px;
        padding-bottom: 1px;
        font-weight: 600;
        padding: 0 8px;
        position: absolute;
        bottom: -10px;
        background-color: #f6f9f3;
    }
}
.list__link {
    display: flex;
    justify-content: flex-end;

    a {
     margin-top: 20px;
     padding: 22px 100px 22px 120px;
     position: absolute;
     background-color: #7eb252;
     color: #fff;
     font-size: 14px;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 1px;
     outline: none;
     text-decoration: none;
     min-width: 500px;
     position: relative;

     &::after {
        position: absolute;
        content: "";
        width: 31px;
        height: 9px;
        background-image: url("../images/arrow.png");
        right:  100px;
        top: 30px;
    } 
 }
}

.popularity {
    padding-top: 200px;

    &__wrapper {
        background-image: url("../images/popularity-img.jpg");
        min-height: 645px;
        background-repeat: no-repeat;
    }
    &__inner {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    &__right {
        max-width: 500px;
        width: 100%;
        padding-right: 27px;

        &-title {
            color: #303030;
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            margin-top: 55px;   
        }
        &-subtitle {
            color: #303030;
            padding: 50px 0;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
        }
        &-list {
            color: #303030;
            line-height: 22px;

            li {
                margin-bottom: 45px;
                padding-left: 40px;
                position: relative;
                
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 8px;
                    height: 13px;
                    background-image: url("../images/chevron.svg");
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
    &__box {
        background-color: #fff;
        padding: 20px;
        margin-right: 69px;

        &-text {
            border: 1px solid #c5dab5;
            padding: 30px;
            color: #303030;
        }
        &-link{
            background-color: #fff;
            padding: 22px 85px 22px 27px;
            outline: none;
            background-color: #7eb252;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-decoration: none;
            position: absolute;

            &::after {
                position: absolute;
                content: "";
                width: 31px;
                height: 9px;
                background-image: url("../images/arrow.png");
                right:  40px;
                top: 30px;
            } 
        }
    }
}

.history {
    padding-top: 270px;
    margin-bottom: 50px;

    &__wrapper {
        background-image: url("../images/alonso.jpg");
        min-height: 920px;
        background-repeat: no-repeat;
        background-position: right center;
    }
    
    &__inner {}

    &__title{
        padding: 80px 0 40px;
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        max-width: 570px;
    }

    &__text {
        background-color: #f6f9f3;
        padding: 42px 30px 65px 0;
        max-width: 700px; 
        position: relative;

        &::before {
         content: "";
         position: absolute;
         height: 100%;
         width: 100%;
         background-color: #f6f9f3;
         right: 100%;
         top: 0;
        }
        p{
            margin: 15px 0;
        }
    }

    &__form {
         max-width: 400px;
         padding-left: 30px;
         margin-left: 200px; 

        &-title {
            margin: 35px 0 20px;
            font-size: 14px;
            line-height: 22px;
            font-weight: 700;
            padding-right: 30px;
            text-transform: uppercase;
        }
        input {
            border: none;
            outline: none;
            height: 34px;
            border-bottom: 1px solid #cddcbc;
            display: block;
            width: 100%;
            font-size: 14px;

            &::placeholder {
                color: #a8c48c;   
            }
        }
        button {
            width: 100%;
            display: block;
            margin-top: 30px;
        }
    }
}

.quote {
    min-height: 620px;
    background-image: url("../images/quote-left.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left center;        

    &__wrapper{
    padding: 150px 0px 100px;  
    background-image: url("../images/quote-left.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right center;
    min-height: 620px;           
 }

   &__inner {
       max-width: 770px;
       padding: 50px 0;
       border-top: 1px solid #a4c58c;
       border-bottom: 1px solid #a4c58c;
       text-align: center;
       margin: 0 auto;
       font-size: 24px;
       line-height: 40px;
       font-weight: 700;
   }
}

.author {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 40px;

    span {
        font-size: 16px;
        color: #9a9a9a;
    }
}

.items {

    &__title {
        padding: 100px 0;
        max-width: 525px;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
    }

    &__wrapper {
        background-color: #f6f9f3;
        min-height: 385px;
    }

    &__inner {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        background-color: #fff;
        max-width: 1010px;
        margin: 0 auto;
        position: relative;
        top: -70px
    }
}
.item {
    width: 312px;
    height: 312px;
    border: 1px solid #e4eddc;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__number {
     position: absolute;
     font-weight: 900;
     font-size: 150px;
     line-height: 115px;
     color: #f7f9f3; 
     top: 50%;
     left: 50%;
     transform: translate(-50%, -75%);    
    }

    &__content {
        position: relative;
        text-align: center;

        &-img {
            margin-bottom: 30px;
        }

        &-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
            margin-top: 30px;
            padding: 0 10px 10px;
        }
    }
}

.compasition {
    padding: 180px 0 100px;

    &__item {
        background-color: #f6f9f3;
        margin-bottom: 30px;

        &-inner {
            width: 270px;
            height: 270px;
            background-image: url("../images/comp-1.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            position: relative;

        }
        &-number, &-name {
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 3px;
          color: #a4c58c;
          font-weight: 700;
          position: absolute;
          transform: rotate(-90deg);
        }
        &-number {
          top: 27px;
          left: -3px;
          text-transform: uppercase;  
        }
        &-name {
            font-weight: 400;
            bottom: 13px;
            right: 33px;
            width: 0;
            white-space: nowrap;
            height: 0;
        }
        &-effect {
            opacity: 0;
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: 20px;
            top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("../images/comp-bg.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            transition: all .3s;
            cursor: pointer;
        }
        &-text {
            color: #fff;
            padding: 5px;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            text-align: center;
        }

    }
    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__title {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 30px;
        margin-top: -60px;
    }
    &__box {
        max-width: 560px;
        padding-left: 70px;
        padding-right: 50px;

        &-list {
            
            li {
                line-height: 22px;
                padding-left: 22px;
                position: relative;
                margin-bottom: 25px;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 6px;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background-color: #a4c58c;
                }
            }
        }
    }
    &__link {
        border: 1px solid #c8dcba;
        padding: 54px 100px 95px 49px;
        max-width: 830px;
        height: 100%;
        margin-right: 70px;
        position: relative;

        &-text {
            padding-left: 25px;
            position: relative;
            
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 6px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: #a4c58c;
            }
            p {
                line-height: 22px;
                margin-bottom: 15px;
            }
    }
     &-btn {
            position: absolute;
            bottom: 0;
            right: 0;
            }
 
    }
    }
    .compasition__item-inner:hover .compasition__item-effect {
        opacity: 1;
    }

.popularity__box-link,
.compasition__link-btn,
.reviews__link-popup,
.build__link,
.cartificate__link,
.mobail__link-btn  {
  padding: 22px 85px 22px 27px;
  outline: none;
  background-color: #7eb252;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  position: absolute;

  &::after {
    position: absolute;
    content: "";
    width: 31px;
    height: 9px;
    background-image: url("../images/arrow.png");
    right:  40px;
    top: 30px;
} 
}

.reviews {

    &__title {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 40px;
        }
        &__tab {
            font-size: 14px;  
            line-height: 20px;
            font-weight: 700;
            color: #c3c3c3;
            display: inline-block; 
            cursor: pointer;
            padding: 25px 40px 25px 70px;
            position: relative;

            &:first-child {
              
                &.active::before {
                    content: "";
                    background-color: #f6f9f3;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    right: 100%;
                    top: 0;

                }
            }
            &:last-child {
                  
                &.active::after {
                    content: "";
                    background-color: #f6f9f3;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left:  100%;
                    top: 0;
                }
            }
    }

    &__content {
        background-color: #f6f9f3;

        &-item {
            display: none;

           &:first-child {
             display: block;
        
           }

        }
    }
    &-textbox {
        padding-top: 50px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &-text {
        padding: 20px 0 50px;
        color: #9a9a9a;
        max-width: 570px;
        width: 100%;
        position: relative;

        &:nth-child(odd) {
            padding-left: 70px;
            right: 20px;

            &::before {
                left: 70px;
            }
        }
        &:nth-child(even) {
            padding-right: 70px;
        }

        &::before {
            content: "";
            height: 3px;
            width: 30px;
            position: absolute;
            background-color: #a4c58c;
            left: 0;
            top: 0;

        }
        
        span {
            font-weight: 700;
            display: block;
            padding-top: 20px;
            color: #303030;
        }
    }
    &__link {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 20px;
        margin-bottom: 20px;

        &-tab {
            margin-right: 80px;
            color: #7eb252;
            font-size: 14px;
            font-weight: 700;
            text-decoration: none;
            border-bottom: 1px solid #7eb252;
            line-height: 14px;
        }

        &-popup {
         position: relative;
        }
    }
}
.reviews__tab.active {
    background-color: #f9f9f3;
    color: #7eb252;
}

.build {

    &__wrapper {
        padding: 60px 55px;
        background-image: url("../images/build.jpg");
        background-position: left center;
        background-repeat: no-repeat;
        min-height: 700px;
    }

    &__content {
        display: flex;
        justify-content: flex-end;
    }

    &__inner {
        padding: 20px;
        max-width: 685px;

        &-box {
            border: 1px solid #c8dcba;
            padding: 60px 45px 70px 70px;
            background-color: #fff;
        }
    }
    &__title {
          font-size: 40px;
          font-weight: 700;
          line-height: 50px;
    }
    &__text {
        
        p {
            margin: 10px 0;
        } 
        span {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 20px;
            letter-spacing: .7px;
            margin: 40px 0 50px;
            display: inline-block;
        }
    }
    &__link {
        position: relative;

        &::after {
            top: 27px;
        } 
    }
}

.cartificate { 
    padding-top: 250px;

    .container-fluid {
        overflow: visible;
    }

    &__title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 30px;
        font-weight: 700;
    }

    &__wrapper {
        background-color: #f9fbfd;
        padding: 30px 0 0;
    }
    &__inner {
        display: flex;
        height: 560px;
    }
    &__content {
        min-width: 670px;
        margin-right: 60px;
        padding-left: 70px;
    }
    &__text {
        margin-bottom: 35px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        padding-right: 85px;
        letter-spacing: 0.7px;
    }
    &__images {
        position: relative;
        top: -200px;
    }

    &__box {
        background-color: #fff;
        padding: 16px 20px 20px;

        fieldset {
            border: 1px solid #c8dcba;
            padding: 45px 45px 100px 50px;
            position: relative;
        }

        legend {
           text-transform: uppercase;
           font-size: 14px;
           color: #a4c58c;
           font-weight: 700;
           padding: 0 8px;
        }
        p {
            margin: 0 0 10px;
            line-height: 22px;
            max-width: 370px;
        }
    }
    &__link  {
        bottom: 0;
        right: 0;
        padding: 18px 85px 18px 60px;

        &::after {
            top: 27px;
        }
    }
}

.footer {

   &__link {
       font-size: 12px;
       color: #9a9a9a;
       text-transform: uppercase;
       text-decoration: underline;
   }

}
.mobail__link-btn {
    display: none;
}